pkgbase = meta-aur-pkg
	pkgdesc = A meta package for aur packages
	pkgver = 20260101
	pkgrel = 1
	url = https://github.com/phrippy/meta-aur-pkg
	arch = any
	license = GPL
	depends = 2048-curses
	depends = 2048-qt
	depends = 64gram-desktop-bin
	depends = bbe
	depends = brainfuck
	depends = brave-bin
	depends = caffeine-ng
	depends = ccze
	depends = crafty
	depends = crossover-overlay-bin
	depends = cursor-bin
	depends = dcfldd
	depends = fagram-bin
	depends = fet-timetabling-bin
	depends = fruit
	depends = gnu-netcat
	depends = google-chrome
	depends = hunspell-uk
	depends = icoextract
	depends = instaloader
	depends = jre-jetbrains
	depends = keep-presence
	depends = lmstudio
	depends = logseq-desktop-bin
	depends = masterpdfeditor
	depends = mythes-uk
	depends = neofetch
	depends = nestopia
	depends = ngrok
	depends = opera
	depends = par2cmdline-turbo
	depends = paru-bin
	depends = pgvector
	depends = pycharm
	depends = python-pyrogram
	depends = python-pyyaml-include
	depends = python-telethon
	depends = python-tgcrypto
	depends = rar
	depends = rubymine
	depends = schildichat-desktop-bin
	depends = squashfs-tools-ng
	depends = sysrq-enabler
	depends = teamviewer
	depends = timer
	depends = ttf-apple-emoji
	depends = vmtouch
	depends = vmware-workstation
	depends = vscodium-bin
	depends = wine32
	depends = winetricks-git
	depends = wlroots-git
	depends = xbanish
	depends = yay
	depends = zpaq

pkgname = meta-aur-pkg
